<!DOCTYPE html>
<html <%= @html_attributes || '' %> class="<%= @html_class || '' %>">

<head>
  <%= render 'layouts/partials/title_meta', title: @title %>

  <%= yield :styles %>

  <%= render 'layouts/partials/head_css' %>
</head>

<body <%= @body_attributes || '' %>>

<div class="wrapper">

  <%= render 'layouts/partials/topbar' %>

  <%= render 'layouts/partials/sidenav' %>

  <div class="content-page">

    <div class="container-fluid">
      <%= yield %>
    </div>

    <%= render 'layouts/partials/footer' %>

  </div>
</div>

<%= render 'layouts/partials/customizer' %>

<%= render 'layouts/partials/footer_scripts' %>

<%= yield :scripts %>

</body>
</html>